@import "https://unpkg.com/open-props";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   background-image: var(--gradient-26);
   height: 100%;
   display: grid;
   place-items: center;
   font-family: var(--font-serif);
   font-size: var(--font-size-4);
}

section {
   padding: var(--size-5);
   background: var(--gray-1);
   border-radius: var(--radius-2);
   text-align: center;
   box-shadow: var(--shadow-3);
}

#number-input {
   padding: var(--size-1);
}

h1,
p,
input,
button {
   margin-bottom: var(--size-4);
}

h1 {
   font-size: var(--font-size-5);
   font-weight: var(--font-weight-9);
   letter-spacing: var(--font-letterspacing-0);
}

button {
   font-weight: var(--font-weight-7);
   padding: var(--size-2);
   color: var(--violet-9);
}

.result {
   font-weight: var(--font-weight-7);
   font-size: var(--font-size-6);
   word-wrap: break-word;
}
